> **1. Enregistrer les données dans un format adapté pour une lecture par la suite avec Python sachant que la première ligne du fichier correspond au noms des variables. Convertir la colonne date en type datetime et supprimer toutes les lignes ayant une valeur manquante.**

Vu que les données à charger sont externes à notre projet, nous allons l'importer en utilisant la bibliothèque urllib de Python

In [34]:
import pandas as pd

In [35]:
df = pd.read_csv('data.csv', sep=';')
df.head()

         date  tests  cas  contact  importe  communautaire
0  02/03/2020    1.0    1        0        0              0
1  03/03/2020    2.0    1        0        1              0
2  04/03/2020    2.0    2        1        1              0
3  05/03/2020    NaN    0        0        0              0
4  06/03/2020    2.0    0        0        0              0

In [36]:
df['date'] = pd.to_datetime(df['date'])
df.head()

        date  tests  cas  contact  importe  communautaire
0 2020-02-03    1.0    1        0        0              0
1 2020-03-03    2.0    1        0        1              0
2 2020-04-03    2.0    2        1        1              0
3 2020-05-03    NaN    0        0        0              0
4 2020-06-03    2.0    0        0        0              0

In [38]:
df.shape

(496, 6)

In [39]:
df.dropna(axis=0, inplace=True)

In [40]:
df.shape

(495, 6)

> **2. Ajouter dans les données une nouvelle variable proportion qui représente le taux de positivité journalier.**